BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 100
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentCaseLabels: true
Language: Cpp
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Pointer
SeparateDefinitionBlocks: Always
UseTab: Never
Standard: Cpp03
